<p>tournament-config-view works!</p>

<div *ngIf="config != null" class="container">
  <div 
    *ngFor="let spot of config.spots; let i = index"
    [style.grid-area]="spot.gridArea"
    [style.border-bottom]="getBorderBottom(spot)"
    [style.border-right]="getBorderRight(spot)"
    [hidden]="spot.hidden"
  >
    <span>Spot {{i}}
      <ng-container *ngIf="spot.seed != undefined">S{{spot.seed}} </ng-container>
      <ng-container *ngIf="spot.winnerOfGame != undefined">W{{spot.winnerOfGame}} </ng-container>
      <ng-container *ngIf="spot.loserOfGame != undefined">L{{spot.loserOfGame}} </ng-container>
      <ng-container *ngIf="spot.place != undefined">P{{spot.place}} </ng-container>
      <ng-container *ngIf="spot.copySpot != undefined">C{{spot.copySpot}} </ng-container>
      <ng-container *ngIf="getGameString(i) != undefined">{{getGameString(i)}} </ng-container>
    </span>
  </div>

  <div *ngFor="let text of config.texts; let i = index" [style.grid-area]="text.gridArea" style="border: 0; text-align: center; font-weight: bold; font-style: italic;">
    {{text.text}}
  </div>
</div>