<h1>app.component</h1>

<ng-container *ngIf="true else not">
  True
</ng-container>
<ng-template #not>
  Waiting for auth to resolve...
</ng-template>

<h2>Time:</h2>
<div>
  <code>observable|async</code>:  Time: {{ time$ | async }}
</div>

<h2>authInfo:</h2>

<pre>{{ authInfo$ | async | json }}</pre>

<h2>authInfo$ (delayed)</h2>

<div *ngIf="authInfo$ | async as auth; else loading">
  <pre>{{ auth | json }}</pre>
</div>
<ng-template #loading>
  Loading...
</ng-template>

<button (click)="addTournament()">Add Tournament</button>
<button (click)="deleteTournament()">Delete Tournament</button>
<button (click)="addParticipant()">Add Participant</button>

<h2>Tournament:</h2>
<pre *ngIf="tournament$ | async as tournament; else noTournament">{{tournament | json }}</pre>
<ng-template #noTournament>
  <em>No Tournament</em>
</ng-template>

<h2>Tournament View:</h2>
<app-tournament-view [config]="config"></app-tournament-view>

<h2>Tournament Config View:</h2>
<app-tournament-config-view [config]="config"></app-tournament-config-view>
