<!-- <h1>app.component</h1>

<ng-container *ngIf="true else not">
  True
</ng-container>
<ng-template #not>
  Waiting for auth to resolve...
</ng-template> -->

<!-- <h2>Time:</h2>
<div>
  <code>observable|async</code>:  Time: {{ time$ | async }}
</div>
 -->

<!--------------------------------------------------------------------------------
  Authentication
---------------------------------------------------------------------------------->
<mat-expansion-panel (opened)="open.auth = true" (closed)="open.auth = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      AuthInfo$
    </mat-panel-title>
    <mat-panel-description>
      Firebase authenticiation information (async)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="authInfo$ | async as auth; else loading">
    <pre>{{ auth | json }}</pre>
    <button *ngIf="auth.uid; else notSignedIn" (click)="signOut()">Sign Out</button>
    <ng-template #notSignedIn>
      <button (click)="signIn()">Sign In</button>
    </ng-template>
  </div>
  <ng-template #loading>
    Loading...
  </ng-template>
</mat-expansion-panel>

<!-- open = { one: false, auth: false, commands: true, config: false, view: true }; -->

<!--------------------------------------------------------------------------------
  Commands
---------------------------------------------------------------------------------->
<mat-expansion-panel expanded="true" (opened)="open.commands = true" (closed)="open.commands = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tournament Commands
    </mat-panel-title>
  </mat-expansion-panel-header>
  <button mat-raised-button color="primary" (click)="addTournament()">Add Tournament</button>
  <button mat-raised-button color="primary" (click)="deleteTournament()">Delete Tournament</button>
  <button mat-raised-button color="primary" (click)="addParticipant()">Add Participant</button>
  <button mat-raised-button color="primary" (click)="scheduleTimes()">Schedule Times</button>
  <button mat-raised-button color="primary" (click)="seedTournament()">Seed Tournament</button>
  <button mat-raised-button color="primary" (click)="completeAGame()">Complete a Game</button>
</mat-expansion-panel>


<!--------------------------------------------------------------------------------
  Tournament as JSON
---------------------------------------------------------------------------------->
<mat-expansion-panel (opened)="open.json = true" (closed)="open.json = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tournament JSON
    </mat-panel-title>
  </mat-expansion-panel-header>
  <pre *ngIf="tournament$ | async as tournament; else noTournament">{{tournament | json }}</pre>
  <ng-template #noTournament>
    <em>No Tournament</em>
  </ng-template>
</mat-expansion-panel>

<!--------------------------------------------------------------------------------
  Tournament Config Grid
---------------------------------------------------------------------------------->
<mat-expansion-panel (opened)="open.config = true" (closed)="open.config = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tournament Configuration Grid
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-tournament-config-view [config]="config"></app-tournament-config-view>
</mat-expansion-panel>

<!--------------------------------------------------------------------------------
  Tournament Grid
---------------------------------------------------------------------------------->
<mat-expansion-panel (opened)="open.view = true" (closed)="open.view = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tournament View
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-tournament-view *ngIf="tournament$ | async as tournament" [config]="config" [tournament]="tournament">
  </app-tournament-view>
</mat-expansion-panel>

<app-tournament-view *ngIf="tournament$ | async as tournament" [config]="config" [tournament]="tournament">
</app-tournament-view>
