<h1 *ngIf="vm != null">{{vm?.tournament?.name}}</h1>
<div class="container" *ngIf="vm != null && vm.spots != null && vm.config != null">
  <div 
    *ngFor="let spot of vm.spots; let i = index"
    [style.grid-area]="spot.config.gridArea"
    [style.border-bottom]="getBorderBottom(spot.config)"
    [style.border-right]="getBorderRight(spot.config)"
    [hidden]="spot.config.hidden"
  >
    <div class="name">{{spot.text}}</div>
    <div class="text">{{spot.gameName}}</div>
  </div>

  <div *ngFor="let text of vm.config.texts; let i = index" [style.grid-area]="text.gridArea" style="border: 0; text-align: center; font-weight: bold; font-style: italic;">
    {{text.text}}
  </div>
</div>